# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
pbr>=1.6
netaddr >=0.7.19
ncclient>=0.4.2;python_version<'3.0'
xmljson >=0.1.9
xmltodict >= 0.11.0
dictdiffer >=0.7.0

prometheus_client>=0.0.19